In [48]:
# Kevin R. Salger
# 9/26/2021
# IS 670 Business Intelligence
# Homework 3, Ch7, #22
#####################################

#        1         2         3         4         5         6         7
#23456789012345678901234567890123456789012345678901234567890123456789012
# Perform the following tasks with pandas Series:
# a) Create a Series from the list [7, 11, 13, 17]
# b) Create a Series with five elements that are all 100.0
# c) Create a Series with 20 elements that are all random numbers in the
#    range 0 to 100.  Use method describe to produce the Series' basic 
#    statistics.
# d) Create a Series called temperatures of the floating-point values 
#    98.6, 98.9, 100.2, and 97.9.  Using the index keyword argument, 
#    specify the custom indices 'Julie', 'Charlie', 'Sam', and 'Andrea'.
# e) Form a dictionary from the names and values in Part d), then use it
#    to initialize a Series.

import pandas as pd

# a) Create a Series from the list [7, 11, 13, 17]
serier = pd.Series([7, 11, 13, 17])
serier

0     7
1    11
2    13
3    17
dtype: int64

In [49]:
# b) Create a Series with five elements that are all 100.0
serie_hundra = pd.Series(100.0, range(5))
serie_hundra

0    100.0
1    100.0
2    100.0
3    100.0
4    100.0
dtype: float64

In [50]:
# c) Create a Series with 20 elements that are all random numbers in the
#    range 0 to 100.  Use method describe to produce the Series' basic 
#    statistics.
import numpy as np
serien_okand = pd.Series(np.random.randint(0, 100, 20))
# serian_okand
serien_okand.describe()

count    20.000000
mean     55.800000
std      26.434826
min       6.000000
25%      42.250000
50%      60.000000
75%      76.000000
max      96.000000
dtype: float64

In [51]:
# d) Create a Series called temperatures of the floating-point values 
#    98.6, 98.9, 100.2, and 97.9.  Using the index keyword argument, 
#    specify the custom indices 'Julie', 'Charlie', 'Sam', and 'Andrea'.
seriegrader = pd.Series([98.6, 98.9, 100.2, 97.9], index=['Julie', 'Charlie', 'Sam', 'Andrea'])
seriegrader

Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

In [52]:
# e) Form a dictionary from the names and values in Part d), 

ordbok = dict.fromkeys(seriegrader.index)
for entry in ordbok.keys():
    ordbok[entry] = seriegrader[entry]
print('The dictionary ordbok: ')
ordbok

The dictionary ordbok:

{'Julie': 98.6, 'Charlie': 98.9, 'Sam': 100.2, 'Andrea': 97.9}

In [53]:
# then use it to initialize a Series.
print('Now the series ny_serie:')
ny_serie = pd.Series(ordbok)
ny_serie

Now the series ny_serie:

Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64